
.email:focus {
  background-color: rgb(237, 235, 255);
}



.btn:hover, .link:hover {
  background-color: #337c37;
}

 .logincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: 0 auto; 
  height:80%
}

#btn
{
  width: 100%;
  background-color: #ffffff;
  color: #4CAF50;
  
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;

}
#btn:hover {
  background-color: #4CAF50;
  color: white;
}
#error
{
  color: rgb(255, 0, 0);
}

@media screen and (max-width: 600px) {
  .logincontainer {
    justify-content: flex-start;
    width: 100%;
  }
}
  