/* .ListItemEven ~ .ListItemEven {
  margin-top:-200px !important;
} */
.ListItemOdd, .ListItemEven{
    width: 60% !important;
    left: 20% !important;
margin-top:20px !important;

}
.List > div {
    width: 100% !important;
    background-color: none !important;
}

.List{
    height:90vh !important;
}


/* .ListItemOdd{
    margin-top:-250px !important;
} */
/* .ListItemEven{
    left: 32px !important;
    right:auto !important;
} */

/* .ListItemEven:not(.index0){
    left: 0 !important;
    right:auto !important;
    margin-top:-200px !important;
}
    
.ListItemOdd:not(.index1){
    margin-top:-450px !important;
}
 */


 
